@import "../../helpers/helpers";

.about--hero {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  margin-bottom: 3em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/images/leaves-bg.png");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
  }

  .section-heading {
    font-family: Barlow, sans-serif;
    font-size: 4em;
    opacity: 60%;
    margin: calc(-1em - 1rem) 0 1rem calc(20% + 2rem);
  }

  .content {
    width: 100%;
    background: transparentize($bg2, 0.3);
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .text--container {
      font-size: 1.2em;
      min-width: 300px;
      max-width: 35%;
      line-height: 150%;
      flex: 1;

      .text--title {
        font-family: Roboto Mono;
        font-size: 1.5em;
        margin-bottom: 1em;
      }
    }

    .image--container {
      position: relative;
      min-width: 500px;
      max-width: 50%;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

.text__title {
  font-family: Roboto Mono;
  font-size: 1.8em;
  margin-bottom: 2rem;
  text-align: center;
}

@include devices(tablet) {
  .about--hero {
    padding-bottom: 8em;

    .section-heading {
      margin: .5em 0;
      text-align: center;
    }
    .content {
      flex-direction: column;
      gap: 50px;


      .text--container {
        max-width: 800px;
        padding: 0 2em;
        text-align: center;
      }

      .image--container {
        min-width: 300px;
        img{
          position: relative;
        }
      }
    }
  }
}