@import "../../../helpers/helpers";

.education__container {
  position: relative;
  width: 100%;
  background: url("../../../images/CDV.png");
  background-size: cover;
  margin-top: 3em;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparentize($bg1, 0.6);
    backdrop-filter: blur(2px);
    content: "";
    z-index: 1;
  }

  .content__container{
    position: relative;
    z-index: 2;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;

    .school-logo {
    }

    .education__content{
      padding: 2.5em 1em;
      margin-left: 150px;
      text-align: center;
      max-width: 500px;
      line-height: 160%;

      .text__title {
        font-family: Roboto Mono;
        font-size: 1.8em;
        margin: .8em 0;
      }

      p {
        font-size: 1.2em;
      }

      p + p {
        margin-top: 1em;
        max-width: 700px
      }
    }
  }
}

@include devices(tablet) {
  .education__container {
    .content__container{
      flex-direction: column-reverse;
      .education__content{
        margin: 0
      }
    }
  }
}