@import "../../../helpers/helpers";

.skills--container {
  width: 100%;

  .skills--content{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;

    .text--title {
      font-family: Roboto Mono;
      font-size: 1.8em;
      margin-bottom: 1em;
      text-align: center;
    }

    .p {
      font-size: 1.2em;
    }

    .skills--list{
      list-style: none;

      .list--item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.2em;

        .icon-container{
          background: $theme1;
          border-radius: 10px;
          padding: 24px;
          margin-bottom: .6em;
          box-shadow: 0px 0px 5px $shadow1;
          img {
            margin-bottom: -4px;
          }
        }
        h4 {
          font-family: Roboto Mono;
          font-size: 1.1em;
          line-height: 150%;
        }
      }
    }
  }
}